@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

/* Light Theme */
body.light {
  background-color: #ffffff;
  color: #000000;
}

/* Dark Theme */
body.dark {
  background-color: #121212;
  color: #ffffff95;
}

.admin-dark {
  background-color: #121212 !important;
  width: 100%;
}

/* React Quill Dark Mode styles */
.dark .quill-dark .ql-toolbar {
  background-color: #1e293b; /* slate-900 */
  border: 1px solid #334155; /* slate-700 */
}

.dark .quill-dark .ql-container {
  border: 1px solid #334155;
  background-color: #1e293b;
  color: #e2e8f0; /* slate-200 */
}

.dark .quill-dark .ql-editor {
  color: #e2e8f0;
}
.dark .quill-dark .ql-editor .ql-content {
  color: #e2e8f0;
}

.dark .quill-dark .ql-stroke {
  stroke: #cbd5e1; /* icons */
}

.dark .quill-dark .ql-fill {
  fill: #cbd5e1;
}

.dark .quill-dark .ql-picker {
  color: #e2e8f0;
}


/* Responsive breakpoints and devices to be targeted */

/* Extra small devices (phones, 320px and up) */
@media only screen and (max-width: 320px) {
  /* Styles for very small phones */
}

/* Small devices (phones, 375px and up) */
@media only screen and (max-width: 375px) {
  /* Styles for regular mobile phones */
}

/* Medium devices (phones, 425px and up) */
@media only screen and (max-width: 425px) {
  /* Styles for larger phones */
}

/* Tablets (768px and up) */
@media only screen and (max-width: 768px) {
  /* Styles for tablets */
}

/* Small laptops (1024px and up) */
@media only screen and (max-width: 1024px) {
  /* Styles for small laptops */
}

/* Large laptops (1366px and up) */
@media only screen and (max-width: 1366px) {
  /* Styles for large laptops */
}

@media only screen and (max-width: 375px) {
  body {
    font-size: 16px;
  }
}

body,
p {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", "Helvetica", sans-serif;
}
